.services {
    padding: 150px 0;
}
.text-h2,.services__h4 {
    color: #000;
    text-align: center;
}
.section__h2 {
margin-bottom: 66px;
}
.services__h4{
 margin: 0 auto;
 max-width: 172px;
 text-transform: uppercase;
}
.services__grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 30px;
justify-items: center;
}
.services__grid-item {
    padding: 59px 0;
    background-color: #f7f7f7;
    width: 350px;
}
.services__icon {
    margin: 0 auto 30px;
}
.text-h4 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
}
@media screen and (max-width:1280px){
    .services{
    padding-left: 15px;
    padding-right: 15px;

    }
    .services__grid{
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
    }
    .services__grid-item{
    width: 100%;
    }
}
@media screen and (max-width:768px) {
    .services__grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
